@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    background-color: #1f8bff;
}

@media (min-width:1281px) {
    .btn-contato {
        border-color: #116fd4 !important;
        background-color: #116fd4 !important;
    }

    .contato100 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

    .contato {
        display: flex;
        flex-direction: row;
        width: 80%;
        z-index: 1000;
    }

    .contato.opacity {
        z-index: 100;
    }

    .texto {
        margin-right: 35px;
        width: 60%;
    }

    .contato>.texto>h1 {
        color: #fff;
        font-size: calc(32px + 1.5vw);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contato>.texto>p {
        color: #fff;
        font-size: calc(18px + 0.63vw);
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .form-contato>input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .form-contato>input:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    input::placeholder {
        color: #fff;
    }

    .form-contato>textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        height: 100px;
    }

    .form-contato>textarea:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    textarea::placeholder {
        color: #fff;
    }

    .form-contato>button {
        line-height: 1.5;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
        background-color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50vh;
        padding: 0.75rem 1.5rem;
        color: #116fd4;
        transition: .5s;
        cursor: pointer;
    }

    .form-contato>button:hover {
        background-color: #116fd4;
        color: #fff;
        border-color: #116fd4;
    }

    .social {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
        -webkit-box-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: .5s;
    }

    .social>li:hover {
        transform: scale(1.3);
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }
}

@media (max-width: 1280px) and (min-width: 769px) {
    .btn-contato {
        border-color: #116fd4 !important;
        background-color: #116fd4 !important;
    }

    .contato100 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

    .contato {
        display: flex;
        flex-direction: row;
        width: 80%;
        z-index: 1000;
    }

    .contato.opacity {
        z-index: 100;
    }

    .texto {
        margin-right: 35px;
    }

    .contato>.texto>h1 {
        color: #fff;
        font-size: calc(32px + 1.5vw);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contato>.texto>p {
        color: #fff;
        font-size: calc(18px + 0.63vw);
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .form-contato>input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .form-contato>input:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    input::placeholder {
        color: #fff;
    }

    .form-contato>textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        height: 100px;
    }

    .form-contato>textarea:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    textarea::placeholder {
        color: #fff;
    }

    .form-contato>button {
        line-height: 1.5;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
        background-color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50vh;
        padding: 0.75rem 1.5rem;
        color: #116fd4;
        transition: .5s;
        cursor: pointer;
    }

    .form-contato>button:hover {
        background-color: #116fd4;
        color: #fff;
        border-color: #116fd4;
    }

    .social {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
        -webkit-box-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: .5s;
    }

    .social>li:hover {
        transform: scale(1.3);
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }
}

@media (max-width: 768px) and (min-width: 541px) {
    .btn-contato {
        border-color: #116fd4 !important;
        background-color: #116fd4 !important;
    }

    .contato100 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
    }

    .contato {
        width: 80%;
        z-index: 1000;
    }

    .contato.opacity {
        z-index: 100;
    }

    .contato>.texto>h1 {
        color: #fff;
        font-size: calc(32px + 1.5vw);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contato>.texto>p {
        color: #fff;
        font-size: calc(18px + 0.63vw);
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .form-contato>input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .form-contato>input:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    input::placeholder {
        color: #fff;
    }

    .form-contato>textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        height: 100px;
    }

    .form-contato>textarea:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    textarea::placeholder {
        color: #fff;
    }

    .form-contato>button {
        line-height: 1.5;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
        background-color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50vh;
        padding: 0.75rem 1.5rem;
        color: #116fd4;
        transition: .5s;
        cursor: pointer;
    }

    .form-contato>button:hover {
        background-color: #116fd4;
        color: #fff;
        border-color: #116fd4;
    }

    .social {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
        -webkit-box-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: .5s;
    }

    .social>li:hover {
        transform: scale(1.3);
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }
}

@media (max-width: 540px) and (min-width: 481px) {
    .contato100 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
    }

    .contato {
        width: 80%;
        z-index: 1000;
    }

    .contato.opacity {
        z-index: 100;
    }

    .contato>.texto>h1 {
        color: #fff;
        font-size: calc(32px + 1.5vw);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contato>.texto>p {
        color: #fff;
        font-size: calc(18px + 0.63vw);
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .form-contato>input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .form-contato>input:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    input::placeholder {
        color: #fff;
    }

    .form-contato>textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        height: 100px;
    }

    .form-contato>textarea:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    textarea::placeholder {
        color: #fff;
    }

    .form-contato>button {
        line-height: 1.5;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
        background-color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50vh;
        padding: 0.75rem 1.5rem;
        color: #116fd4;
        transition: .5s;
        cursor: pointer;
    }

    .form-contato>button:hover {
        background-color: #116fd4;
        color: #fff;
        border-color: #116fd4;
    }

    .social {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
        -webkit-box-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: .5s;
    }

    .social>li:hover {
        transform: scale(1.3);
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }
}

@media (max-width: 480px) {
    .contato100 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
    }

    .contato {
        width: 80%;
        z-index: 1000;
    }

    .contato.opacity {
        z-index: 100;
    }

    .contato>.texto>h1 {
        color: #fff;
        font-size: calc(32px + 1.5vw);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .contato>.texto>p {
        color: #fff;
        font-size: calc(18px + 0.63vw);
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .form-contato>input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .form-contato>input:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    input::placeholder {
        color: #fff;
    }

    .form-contato>textarea {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        height: 100px;
    }

    .form-contato>textarea:focus {
        outline: none;
        background-color: #ffffff5b;
    }

    textarea::placeholder {
        color: #fff;
    }

    .form-contato>button {
        line-height: 1.5;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 700;
        background-color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-radius: 50vh;
        padding: 0.75rem 1.5rem;
        color: #116fd4;
        transition: .5s;
        cursor: pointer;
    }

    .form-contato>button:hover {
        background-color: #116fd4;
        color: #fff;
        border-color: #116fd4;
    }

    .social {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 32px;
        -webkit-box-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        transition: .5s;
    }

    .social>li:hover {
        transform: scale(1.3);
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }
}