@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    background-color: rgb(30, 30, 50);
}

@media (min-width:1281px) {
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .container{
        z-index: 1000;
        width: 100%;
    }

    .container>h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 5rem;
    }

    .container>p{
        color: #fff;
        padding-left: 5rem;
    }

    .portfolio-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .portfolio-item{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 30%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #1f8bff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        transition: .5s;
    }

    .portfolio-item:hover{
        width: 32%;
        height: auto;
    }

    .portfolio-item:hover .portfolio-text {
        background-color: #37d1c2;
        color: #000;
    }

    .portfolio-item > img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .portfolio-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px #1f8bff;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: #1f8bff;
        transition: .5s;
        height: 150px;
    }

    .portfolio-text > h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1280px) and (min-width: 769px) {
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .container{
        z-index: 1000;
        width: 100%;
    }

    .container>h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 3rem;
    }

    .container>p{
        color: #fff;
        padding-left: 3rem;
    }

    .portfolio-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .portfolio-item{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 45%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #1f8bff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        transition: .5s;
    }
    .portfolio-item:hover{
        width: 47%;
        height: auto;
    }

    .portfolio-item:hover .portfolio-text {
        background-color: #37d1c2;
        color: #000;
    }

    .portfolio-item > img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .portfolio-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px #1f8bff;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: #1f8bff;
        transition: .5s;
        height: 150px;
    }

    .portfolio-text > h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) and (min-width: 541px) {
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .container{
        z-index: 1000;
        width: 100%;
    }

    .container>h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 1.5rem;
    }

    .container>p{
        color: #fff;
        padding-left: 1.5rem;
    }

    .portfolio-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .portfolio-item{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 45%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #1f8bff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        transition: .5s;
    }

    .portfolio-item:hover{
        width: 47%;
        height: auto;
    }

    .portfolio-item:hover .portfolio-text {
        background-color: #37d1c2;
        color: #000;
    }

    .portfolio-item > img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .portfolio-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px #1f8bff;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: #1f8bff;
        transition: .5s;
        height: 150px;
    }

    .portfolio-text > h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 540px) and (min-width: 481px) {
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .container{
        z-index: 1000;
        width: 100%;
    }

    .container.opacity{
        z-index: 100;
    }

    .container>h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 1.5rem;
    }

    .container>p{
        color: #fff;
        padding-left: 1.5rem;
    }

    .portfolio-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .portfolio-item{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 45%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #1f8bff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        transition: .5s;
    }

    .portfolio-item:hover{
        width: 47%;
        height: auto;
    }

    .portfolio-item:hover .portfolio-text {
        background-color: #37d1c2;
        color: #000;
    }

    .portfolio-item > img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .portfolio-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px #1f8bff;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        background-color: #1f8bff;
        transition: .5s;
        height: 150px;
    }

    .portfolio-text > h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .container{
        z-index: 1000;
        width: 100%;
    }

    .container.opacity{
        z-index: 100;
    }

    .container>h1{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 1.5rem;
    }

    .container>p{
        color: #fff;
        padding-left: 1.5rem;
    }

    .portfolio-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-item{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 85%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px #1f8bff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: .5s;
    }

    .portfolio-item:hover{
        width: 87%;
        height: auto;
    }

    .portfolio-item:hover .portfolio-text {
        background-color: #37d1c2;
        color: #fff;
    }

    .portfolio-item > img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .portfolio-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px #1f8bff;
        width: 105%;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        background-color: #1f8bff;
        padding: 5px;
    }

    .portfolio-text > h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}