@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(30, 30, 50);
    height: 100vh;
}

@media (min-width:1281px) {
    .nome {
        padding-top: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-family: Arial, sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .nome>h1 {
        line-height: 1.2;
        font-size: calc(50px + 3.13vw);
        font-weight: 700;
    }

    .nome>p {
        line-height: 1.5;
        font-size: calc(16px + 1vw);
        font-weight: 700;
    }

    .social {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        -webkit-box-align: center;
        bottom: 0;
        margin-bottom: 40px;
        z-index: 1000;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .svg-esquerda {
        position: absolute;
        display: flex;
        align-items: flex-start;
        width: calc(-140px + 50vw);
    }

    .svg-direita {
        position: absolute;
        display: flex;
        align-items: flex-end;
        width: calc(-140px + 50vw);
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 1280px) and (min-width: 769px) {
    .nome {
        padding-top: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-family: Arial, sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .nome>h1 {
        line-height: 1.2;
        font-size: calc(50px + 3.13vw);
        font-weight: 700;
    }

    .nome>p {
        line-height: 1.5;
        font-size: calc(16px + 1vw);
        font-weight: 700;
    }

    .social {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        -webkit-box-align: center;
        bottom: 0;
        margin-bottom: 40px;
        z-index: 1000;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .svg-esquerda {
        position: absolute;
        display: flex;
        align-items: flex-start;
        width: calc(-140px + 50vw);
    }

    .svg-direita {
        position: absolute;
        display: flex;
        align-items: flex-end;
        width: calc(-140px + 50vw);
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 768px) and (min-width: 541px) {
    .nome {
        padding-top: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-family: Arial, sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .nome>h1 {
        line-height: 1.2;
        font-size: calc(50px + 3.13vw);
        font-weight: 700;
    }

    .nome>p {
        line-height: 1.5;
        font-size: calc(16px + 1vw);
        font-weight: 700;
    }

    .social {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        -webkit-box-align: center;
        bottom: 0;
        margin-bottom: 40px;
        z-index: 1000;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .svg-esquerda {
        position: absolute;
        display: flex;
        align-items: flex-start;
        width: calc(-140px + 50vw);
    }

    .svg-direita {
        position: absolute;
        display: flex;
        align-items: flex-end;
        width: calc(-140px + 50vw);
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 540px) and (min-width: 481px) {
    .nome {
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: Arial, sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        text-align: start;
    }

    .nome>h1 {
        line-height: 1.2;
        font-size: calc(50px + 1.5vw);
        font-weight: 700;
    }

    .nome>p {
        line-height: 1.5;
        font-size: calc(16px + 1vw);
        font-weight: 700;
    }

    .social {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        -webkit-box-align: center;
        bottom: 0;
        margin-bottom: 40px;
        z-index: 1000;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .social.opacity {
        z-index: 100;
    }

    .svg-esquerda {
        width: 100%;
    }

    .svg-direita {
        display: none;
    }
}

@media (max-width: 480px) {
    .nome {
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: Arial, sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        text-align: start;
    }

    .nome>h1 {
        line-height: 1.2;
        font-size: calc(50px + 3.13vw);
        font-weight: 700;
    }

    .nome>p {
        line-height: 1.5;
        font-size: calc(16px + 1vw);
        font-weight: 700;
    }

    .social {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        -webkit-box-align: center;
        bottom: 0;
        margin-bottom: 40px;
        z-index: 1000;
        width: 100%;
    }

    .social>li {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .social>li>a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .social.opacity {
        z-index: 100;
    }

    .svg-esquerda {
        width: 100%;
    }

    .svg-direita {
        display: none;
    }
}