@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    background-color: rgb(30, 30, 50);
}

@media (min-width:1281px) {
    .sobre {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 200px 13rem 40px;
        overflow: hidden;
        max-width: 50%;
    }

    .sobre>h1 {
        color: #fff;
        margin-bottom: 24px;
        line-height: 1.1;
        font-size: calc(32px + 1.5vw);
        font-weight: 700;
    }

    .sobre>p {
        color: #fff;
        margin-bottom: 16px;
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }

    .img {
        opacity: 0.3;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .img>img {
        filter: grayscale(100%);
        position: absolute;
        max-width: 100%;
        bottom: 100%;
        right: 15rem!important;
        z-index: -1;
        right: 1rem;
    }

    .tempo {
        position: relative;
        background-color: #007BFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: row;
        width: 80%;
    }

    .tempo>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        font-size: calc(16px + 0.5vw);
        font-weight: 700;
        color: #fff;
        padding: 20px;
    }

    .tempo>p>span {
        margin-right: 20px;
        font-size: 250%;
    }

    .imgTempo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1280px) and (min-width: 769px) {
    .sobre {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 200px 7rem 40px;
        overflow: hidden;
        max-width: 50%;
    }

    .sobre>h1 {
        color: #fff;
        margin-bottom: 24px;
        line-height: 1.1;
        font-size: calc(32px + 1.5vw);
        font-weight: 700;
    }

    .sobre>p {
        color: #fff;
        margin-bottom: 16px;
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }

    .img {
        opacity: 0.3;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .img>img {
        position: absolute;
        max-width: 100%;
        bottom: 100%;
        z-index: -1;
        right: 7rem;
        filter: grayscale(100%);
    }

    .tempo {
        position: relative;
        background-color: #007BFF;
        display: flex;
        padding: 20px;
        flex-direction: column;
        -webkit-box-align: center;
        width: 80%;
    }

    .tempo>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        font-size: calc(16px + 0.5vw);
        font-weight: 700;
        color: #fff;
    }

    .tempo>p>span {
        margin-right: 20px;
        font-size: 250%;
    }

    .imgTempo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) and (min-width: 541px) {
    .sobre {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 200px 5rem 40px;
        overflow: hidden;
        max-width: 50%;
    }

    .sobre>h1 {
        color: #fff;
        margin-bottom: 24px;
        line-height: 1.1;
        font-size: calc(32px + 1.5vw);
        font-weight: 700;
    }

    .sobre>p {
        color: #fff;
        margin-bottom: 16px;
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }

    .img {
        opacity: 0.3;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .img>img {
        position: absolute;
        max-width: 100%;
        right: 4rem;
        bottom: 100%;
        z-index: -1;
        filter: grayscale(100%);
    }

    .tempo {
        position: relative;
        background-color: #007BFF;
        display: flex;
        padding: 20px;
        flex-direction: column;
        -webkit-box-align: center;
        width: 100%;
    }

    .tempo>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        font-size: calc(16px + 0.5vw);
        font-weight: 700;
        color: #fff;
    }

    .tempo>p>span {
        margin-right: 20px;
        font-size: 250%;
    }

    .imgTempo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 30px;
    }
}

@media (max-width: 540px) and (min-width: 481px) {
    .sobre {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 140px 2rem 40px;
        overflow: hidden;
    }

    .sobre>h1 {
        color: #fff;
        margin-bottom: 24px;
        line-height: 1.1;
        font-size: calc(32px + 1.5vw);
        font-weight: 700;
    }

    .sobre>p {
        color: #fff;
        margin-bottom: 16px;
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }

    .img {
        opacity: 0.3;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img>img {
        position: absolute;
        max-width: 75%;
        bottom: 100%;
        z-index: -1;
        filter: grayscale(100%);
    }

    .tempo {
        position: relative;
        background-color: #007BFF;
        display: flex;
        padding: 20px;
        flex-direction: column;
        -webkit-box-align: center;
        width: 100%;
    }

    .tempo>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        font-size: calc(16px + 0.5vw);
        font-weight: 700;
        color: #fff;
    }

    .tempo>p>span {
        margin-right: 20px;
        font-size: 250%;
    }

    .imgTempo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .sobre {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 140px 1.5rem 40px;
        overflow: hidden;
        max-width: 100%;
    }

    .sobre>h1 {
        color: #fff;
        margin-bottom: 24px;
        line-height: 1.1;
        font-size: calc(32px + 1.5vw);
        font-weight: 700;
    }

    .sobre>p {
        color: #fff;
        margin-bottom: 16px;
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }

    .img {
        opacity: 0.3;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img>img {
        position: absolute;
        max-width: 80%;
        bottom: 100%;
        z-index: -1;
        filter: grayscale(100%);
    }

    .tempo {
        position: relative;
        background-color: #007BFF;
        display: flex;
        padding: 20px;
        flex-direction: column;
        -webkit-box-align: center;
        width: 100%;
    }

    .tempo>p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        font-size: calc(16px + 0.5vw);
        font-weight: 700;
        color: #fff;
    }

    .tempo>p>span {
        margin-right: 20px;
        font-size: 250%;
    }

    .imgTempo {
        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}